services:
  db:
    image: postgres:17-alpine # Используем стабильную 17-ю версию
    container_name: db_platform_container
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}     # Берем из .env
      POSTGRES_PASSWORD: ${DB_PASS} # Берем из .env
      POSTGRES_DB: ${DB_NAME}       # Берем из .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    volumes:
      - .:/app # СВЯЗЫВАЕМ ПАПКИ (Windows <-> Docker)
    env_file:
      - .env
    depends_on:
      - db

volumes:
  postgres_data: