services:
  db:
    image: postgres:17-alpine
    container_name: db_platform_container
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: fastapi_app
    restart: always
    # Убираем --reload для стабильности на сервере (ТЗ 2.2)
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./static:/app/static
    env_file:
      - .env
    depends_on:
      - db

  web:
    build:
      context: ./web
      target: production
      args:
        - VITE_IS_PROD=true
        - VITE_IS_DOCKER=true
    container_name: vue_frontend
    restart: always
    ports:
      - "127.0.0.1:8080:80"
    depends_on:
      - app
    # Эти переменные нужны и при запуске (runtime)
    environment:
      - VITE_IS_PROD=true
      - VITE_IS_DOCKER=true

volumes:
  postgres_data: