services:
  db:
    image: postgres:17-alpine
    container_name: db_platform_container
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: fastapi_app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db

  # НОВЫЙ СЕРВИС ДЛЯ ФРОНТЕНДА
  web:
    build: ./web
    container_name: vue_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./web:/app
      # Игнорируем node_modules в контейнере, чтобы не было конфликтов с Windows
      - /app/node_modules
    depends_on:
      - app
    environment:
      - VITE_IS_PROD=true

volumes:
  postgres_data: