@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #112;
    padding: 40px;
}

.main {
    width: 420px;
    background: #334;
    color: #eee;
    border-radius: 10px;
    padding: 30px 40px;
}
.main h1 {
    font-size: 2.25em;
    text-align: center;
}
.main .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: #eef;
    outline: none;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 40px;
    font-size: 1em;
    color: #222;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: #666;
    font-size: 1em;
}
.main hr {
    font-weight: 2px;
    margin-bottom: 30px;
}
.main .remember {
    display: flex;
    justify-content: space-between;
    font-size: 0.875em;
    margin: -15px 0 15px;
}
.remember label input {
    accent-color: #eee;
    margin-right: 3px;
}
.remember a {
    color: #eee;
    text-decoration: none;
}
.remember a:hover {
    text-decoration: underline;
}
.main .btn {
    width: 100%;
    height: 45px;
    background: #eef;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #222;
    font-weight: 600;
}
.main .register-link {
    font-size: 0.875em;
    text-align: center;
    margin-top: 20px;
}
.register-link p a {
    color: #eee;
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover {
    text-decoration: underline;
}