/* По умолчанию все страницы скрыты */
.page {
    display: none !important; /* Точка с запятой должна быть В КОНЦЕ строки */
}

/* Видна только та страница, у которой есть класс active */
.page.active {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
}