name: Deploy to VPS

on:
  push:
    branches:
      - main
      - master  # Если ветка называется master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/olymp-platform
            
            # 1. Скачиваем обновления кода и файлы миграций
            git pull origin main
            
            # 2. Пересобираем и запускаем контейнеры
            docker-compose up -d --build
            
            # 3. ПРИМЕНЯЕМ МИГРАЦИИ (Важно: флаг -T)
            docker-compose exec -T app alembic upgrade head
            
            # 4. Чистим мусор
            docker image prune -f